$fz: 100px;

.item {
  border: 1px solid black;
  margin: 0 0 30px 0;
  padding: 10px;
}

.taRight {
  text-align: right;
}

.address__item {
  margin: 0 0 0 20px;
}

.item__subtitle {
  color: cadetblue;
  cursor: pointer;
  font-weight: bold;
}

.item__subtitle:hover {
  color: #4a7b7d;
}

.badge {
  cursor: pointer;
}

.topBtn {
  margin: 20px 20px 20px 0;
}

.sortIcon{
  margin: 0 0 -10px 10px;
}